<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="title"> {{ line }} </ion-title>
    <ion-icon name="settings"> </ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="container">
  <ion-fab slot="fixed" horizontal="center" vertical="center">
    <button (click)="setRandomHero()" class="btnRandom">choose hero</button>
  </ion-fab>
  <div *ngIf="randomHero" class="img">
    <!-- {{ randomHero.name }} -->
    <img
      aria-hidden="true"
      src="assets/heroes/mid/{{randomHero.name}}.jpg"
      class="img"
    />
  </div>
</ion-content>
