<ion-header [translucent]="true">
  <ion-toolbar class="menu">
    <ion-title class="title">{{ line }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="container">
  <ion-fab slot="fixed" horizontal="center" vertical="center">
    <button (click)="setRandomHero()" class="btn-random">generate hero</button>
  </ion-fab>
  <img
    *ngIf="randomHero"
    aria-hidden="true"
    src="assets/heroes/{{line.toLowerCase()}}/{{randomHero.name}}.jpg"
    class="img"
  />
</ion-content>

<app-dialog
  [heroesList]="heroesList"
  [line]="line"
  (close)="updateSelectedHeroes()"
></app-dialog>

<ion-fab slot="fixed" horizontal="end" vertical="start">
  <ion-fab-button
    class="btn-settings"
    id="open-modal-{{line}}"
    expand="block"
    size="small"
  >
    <img src="assets/settings.svg" alt="settings" class="settings-icon" />
  </ion-fab-button>
</ion-fab>
